<div class="container" [style]="fullscreenStyle">
  <div class="first-col flex-between">
    <span class="styled-link">
      <a routerLink="/" routerLinkActive="active">BACK</a>
    </span>
    <div class="homepage--title">
      <h1 id="title">SAINTLOUP</h1>
      <div id="sub-title">
        <h2>PORTFOLIO</h2>
        <h3>[2023]</h3>
      </div>
    </div>
  </div>

  <div class="second-col">
    <app-menu
      (backgroundStyleEvent)="setBackgroundStyle($event)"
      (mouseLeaveEvent)="resetBackgroundStyle()"
      [items]="projectsMenuItems"
      [reverse]="true"
      [hasHover]="true"
      [gap]="56"
    ></app-menu>
  </div>

  <div class="backgroundImageDiv" [style]="semiStyle"></div>

  <div class="third-col">
    <span class="styled-link">
      <a href="mailto:saintloup.contact@gmail.com">CONTACT</a></span
    >
    <span class="styled-link">
      <a href="https://www.instagram.com/4mbianss/" target="_blank"
        >INSTAGRAM</a
      >
    </span>
  </div>
</div>
