.container {
  padding: 5% 5%;
  height: 100%;
}

.app-navbar {
  width: 100%;
}

.footer {
  position: relative;
  width: 100%;
  bottom: 0px;
  transition-duration: 0.8s;
}

.appear {
  bottom: 250px;
}

.disappear {
  bottom: 0px;
}
