.container {
  padding: 5%;
  display: flex;
  height: stretch;
}

.first-col {
  flex-direction: column;
  flex-grow: 2;
}

.second-col {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.backgroundImageDiv {
  width: stretch;
}

.third-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

.app-navbar {
  width: 100%;
}

.homepage--title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

#title{
  font-size: 1vw;
  padding-bottom: 5px;
}

#sub-title {
  position: absolute;
  display: flex;
  flex-direction: row;
  h2 {
    font-size: 0.5vw;
    font-weight: 100;
  }
  h3 {
    font-size: 0.3vw;
    font-weight: 100;
  }
}