<div
  class="menu--container"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxFill
>
  <div fxLayout="column" fxFlex="25" fxLayoutAlign="space-between start">
    <span><a>BACK</a></span>
    <img src="../../../assets/st-loup-portfolio.webp" />
  </div>

  <div fxFlex fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="24px">
    <span *ngFor="let item of projectsMenuItems">
      <a href="{{ item.link }}">{{ item.label }}</a>
    </span>
  </div>

  <div fxFlex="25" fxLayout="column" fxLayoutAlign="start end">
    <span><a>CONTACT</a></span>
  </div>
</div>
