<div class="container center-content">
  <div class="content-container">
    <app-navbar
      class="app-navbar"
      (weekItemClickEvent)="weekItemClickAction($event)"
    ></app-navbar>
    <div class="image-content-container center-content">
      <div *ngIf="daySelected != 'nothingSelected'">
        <div class="image-container center-content">
          <ng-container *ngFor="let url of weekItemSelecteds">
            <img
              (mouseover)="onMouseOver(url)"
              (mouseout)="onMouseLeave()"
              loading="lazy"
              class="image"
              [src]="url"
              height="100px"
            />
          </ng-container>
        </div>
        <!-- LOADING -->
        <!-- *ngIf="!imagesService.loading" -->
        <!-- <div class="center-content" *ngIf="imagesService.loading">
          <img loading="lazy" src="/assets/loading.gif" height="50px" />
        </div> -->
      </div>
      <div
        *ngIf="this.backgroundImgUrl != ''"
        #imgOverview
        class="img-first-plan"
      >
        <img loading="lazy" [src]="backgroundImgUrl" />
      </div>
    </div>
    <span class="styled-link backbtn-container center-content">
      <a routerLink="/work" routerLinkActive="active">BACK</a>
    </span>
  </div>
</div>
