.container {
  height: 100%;
}
.app-navbar {
  padding: 0 0 5% 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 90%;
}

.image-content-container {
  height: stretch;
  width: 100%;
}

.image-container {
  flex-flow: row wrap;
  align-items: center;
  padding-left: 56px;
}

.image {
  padding: 8px;
}

.backbtn-container {
  padding: 24px;
  padding: 5% 0 0 0;
}

.img-first-plan {
  position: absolute;
  img {
    height: 500px;
  }
}
