.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homepage--container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  span {
    position: absolute;
    width: max-content;
  }
}

.homepage--img {
  img {
    width: 450px;
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}

.homepage--title {
  position: absolute;
  span {
    font-size: 800% !important;
    color: white;
    font-weight: 400;
  }
  span:hover {
    color: red;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage--menu {
  position: absolute;
  left: 450px;
  top: 650px;
  padding-left: 24px;
}

.homepage--app-menu {
  position: relative;
  left: 90%;
  top: 20em;
}
