.container {
  height: stretch;
}

.homepage--title {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 100px;
  padding-left: 50px;
}

#title{
  font-size: 7vw;
} 
#sub-title {
  position: absolute;
  display: flex;
  align-items: center;
  h2 {
    font-size: 2.5vw;
    font-weight: 100;
  }
  h3 {
    display: flex;
    align-self: flex-start;
    font-size: 1.6vw;
  }
}

.homepage--menu {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  flex-grow: 2;
  width: 20%;
}

.homepage--img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  img {
    max-width: 60%;
    height: auto;
  }
}

.homepage--app-menu {
  position: relative;
  left: 90%;
  top: 20em;
}
