.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.homepage--container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
        width: 460px;
    }
    span {
        position: absolute;
        width: max-content;
    }
    
}

.homepage--title {
    span {
        font-size: 800%!important;    
        color:white;
        font-weight: 400;
    }
    span:hover {
        color:red;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}


.homepage--menu {
    position: absolute;
    left: 180px;
    top: 220px;
    padding-left: 24px;
}
