<div class="container flex-between">
  <div class="homepage--title">
    <h1 id="title">SAINTLOUP</h1>
    <div id="sub-title">
      <h2>PORTFOLIO</h2>
      <h3>[2023]</h3>
    </div>
  </div>
  <div class="homepage--menu">
    <span class="menu-links styled-link">
      <a routerLink="work" routerLinkActive="active">PERSONAL PROJECTS</a>
    </span>
    <span class="menu-links styled-link">
      <a href="mailto:saintloup.contact@gmail.com">CONTACTS</a>
    </span>
  </div>
  <div class="homepage--img">
    <img
      alt="gif by enzo saintloup"
      src="/assets/homepage-img.webp"
      loading="lazy"
    />
  </div>
</div>
