<div class="container" fxLayout="row">
  <div class="homepage--container">
    <div class="homepage--img">
      <img
        alt="gif by enzo saintloup"
        src="../../../assets/344.gif"
        loading="lazy"
      />
    </div>
    <div class="homepage--title">
      <span><a>344</a></span>
    </div>

    <div class="homepage--menu">
      <div
        class="menu-links"
        fxLayout="column"
        fxLayoutAlign="end"
        fxLayoutGap="80"
      >
        <span class="menu-links tyled-link">
          <a routerLink="work" routerLinkActive="active">PERSONAL PROJECTS</a>
        </span>
        <span class="menu-links tyled-link">
          <a
            href="javascript:void(0)"
            (click)="footerService.setFooterVisibility()"
            >CONTACTS</a
          >
        </span>
      </div>
    </div>
  </div>
</div>
