.container {
  height: 100%;
  background: url(../../../assets/404.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  p {
    top: 100px;
    font-size: 100px;
    font-weight: 600;
  }
  a {
    top: 150px;
    font-size: 50px;
    font-weight: 600;
  }
}
