<div class="container center-content">
  <div class="first-col center-content">
    <span class="menu-links styled-link">
      <a href="https://vimeo.com/775487660" target="_blank">VIMEO</a>
    </span>
  </div>

  <div class="second-col">
    <a href="https://vimeo.com/775487660" target="_blank">
      <img
        alt="gif by enzo saintloup"
        src="/assets/pages/samedi.gif"
        loading="lazy"
        width="600px"
      />
    </a>
  </div>
  <div class="third-col center-content">
    <span class="styled-link">
      <a routerLink="/work" routerLinkActive="active">BACK</a>
    </span>
  </div>
</div>
