<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="center stretch"
  [ngStyle]="{
    background:
      backgroundTitle != undefined
        ? 'url(../../../assets/' + backgroundTitle + ') no-repeat center;'
        : null
  }"
>
  <div fxLayout="column" fxFlex="90">
    <app-navbar
      fxFlex="10"
      class="app-navbar"
      (weekItemClickEvent)="weekItemClickAction($event)"
    ></app-navbar>
    <div
      class="content--container"
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <ng-container *ngIf="daySelected != 'nothingSelected'">
        <div
          class="content--img-container"
          fxLayoutGap="56px"
          fxLayoutAlign="space-evenly center"
          fxFlex
          style="border: solid 1px black"
        >
          <ng-container *ngFor="let dayItem of weekItemSelected.items">
            <img
              loading="lazy"
              class="content--first-col-img"
              [ngStyle]="{ 'max-width': '20%' }"
              [src]="'../../../assets/' + dayItem.name"
            />
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="daySelected === 'nothingSelected'">
        <img loading="lazy" src="'../../../assets/st-loup-portfolio.webp" />
      </ng-container>
    </div>
  </div>
</div>
