<div
  class="container"
  fxLayout="row"
  fxLayoutAlign="center stretch"
  [style]="Style"
>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="95">
    <app-navbar
      fxFlex="10"
      class="app-navbar"
      (weekItemClickEvent)="weekItemClickAction($event)"
    ></app-navbar>
    <div
      class="content--container"
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <ng-container *ngIf="daySelected != 'nothingSelected'">
        <div
          class="content--img-container"
          fxLayoutGap="56px"
          fxLayoutAlign="center center"
          fxLayout="row wrap"
          fxFlex
        >
          <ng-container *ngFor="let dayItem of weekItemSelected.items">
            <img
              (mouseover)="onMouseOver(dayItem)"
              (mouseout)="onMouseLeave()"
              loading="lazy"
              class="content--first-col-img"
              [src]="'../../../assets/' + dayItem.url"
            />
          </ng-container>
        </div>
      </ng-container>
      <div *ngIf="this.backgroundImgUrl != ''" class="img-first-plan">
        <img loading="lazy" [src]="backgroundImgUrl" />
      </div>
      <!-- <ng-container *ngIf="daySelected === 'nothingSelected'">
        <img loading="lazy" src="'../../../assets/st-loup-portfolio.webp" />
      </ng-container> -->
    </div>
    <span
      fxFlex="10"
      fxLayoutAlign="end end"
      class="styled-link backbtn-container"
    >
      <a routerLink="/Work" routerLinkActive="active">BACK</a>
    </span>
  </div>
</div>
