// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-angular-primary: mat.define-palette(mat.$indigo-palette);
$portfolio-angular-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$portfolio-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portfolio-angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $portfolio-angular-primary,
      accent: $portfolio-angular-accent,
      warn: $portfolio-angular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-angular-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  font-family: Manrope;
}
body {
  margin: 0;
  font-family: Manrope;
}

span {
  font-weight: 400;
  font-size: 1vw;
  font-style: normal;
}

.styled-link {
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: red !important;
  }
  a:visited {
    color: black;
  }
}
.menu-links {
  height: 10%;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: red !important;
  }
  a:visited {
    color: black;
  }
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}