.container {
  padding: 0 48px;
  width: max-content;
}

.growOnHover {
  a:hover {
    font-size: 50px;
  }
}

#delay {
  transition-property: font-size;
  transition-duration: 0.02s;
}

#delay:hover {
  font-size: 3vw;
}